// Place all the styles related to the games controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body{
  background-color: #F4F4F4;
  text-align: center;
}

.container{
  width: 950px;
  padding-top: 30px;
  padding-bottom: 60px;
  margin: 60px auto;
  border-radius: 8px;
  background-color: white;
  box-shadow: 0 10px 30px rgba(0,0,0,0.1);
}
// .banner{
//   text-align: center;
// }

ul{
  display: flex;
  list-style: none;
  justify-content: center;
}

li{
  padding: 15px 15px;
  background-color: #26547c;
  font-weight: bold;
  color: white;
  box-shadow: 0 10px 30px rgba(0,0,0,0.1);
  border-radius: 4px;
  margin: 15px;
}

label{
  display: block;
  padding-bottom: 15px;
}

.btn{
  padding: 14px 24px;
  border-radius: 4px;
  background-color: #8a4fff;
  color: white;
  text-decoration: none;
  font-weight: bold;
}

.btn:hover{
  opacity: 0.7;
}

.score{
  margin-top: 25px;
}
